.accordion {
	&__item {
		&__heading {
			&[aria-expanded="false"] {
				background-color: cadetblue;
			}
			&[aria-expanded="true"] {
				background-color: darkseagreen;
			}
		}
		&__content {
			&[aria-hidden="true"] {
				display: none;
			}
			&[aria-hidden="false"] {
				display: block;
			}
		}
	}
}
h1{margin:0;}