$accordion: '.accordion';
$accordion-item: '.accordion__item';
$accordion-item-heading: '.accordion__item__heading';
$accordion-item-content: '.accordion__item__content';

#{$accordion} {
	// Required
	box-sizing: border-box;
}
#{$accordion-item} {
	// Required
	box-sizing: border-box;
	overflow: hidden;
	// Custom
	list-style: none;
	transition-property: height;
	transition-duration: 500ms;
	&[data-item-state="closing"] {
		> #{$accordion-item-heading} {
			background-color: lightblue;
		}
	}
	&[data-item-state="closed"] {
		> #{$accordion-item-heading} {
			background-color: lightblue;
		}
		> #{$accordion-item-content} {
			// Required
			display: none;
		}
	}
	&[data-item-state="opening"] {
		> #{$accordion-item-heading} {
			background-color: lightgreen;
		}
	}
	&[data-item-state="opened"] {
		> #{$accordion-item-heading} {
			background-color: lightgreen;
		}
	}
}
#{$accordion-item-heading} {
	// Required
	box-sizing: border-box;
}
#{$accordion-item-content} {
	// Required
	box-sizing: border-box;
}