$accordion-selector: '[data-ace-accordion-id]';
$item-selector: '[data-ace-item-id]';
$heading-selector: '[data-ace-heading]';
$content-selector: '[data-ace-content]';
$item-state-attribute: 'data-ace-item-state';

#{$accordion-selector} {}
#{$item-selector} {
	height: auto; /* Allow element to adjust to the height of children */
	overflow: hidden; /* Prevent item content from being visible during the opening/closing transitions. */
	&[#{$item-state-attribute}="closed"] {
		> #{$content-selector} {
			display: none; /* Hide the content from screen-readers. */
		}
	}
}
#{$heading-selector} {
	display: block; /* For accurate item height calculations. */
	margin: 0; /* For accurate item height calculations. */
	overflow: auto; /* Account for height of margins of children. */
}
#{$content-selector} {
	display: block; /* For accurate item height calculations. */
	margin: 0; /* For accurate item height calculations. */
	overflow: auto; /* Account for height of margins of children. */
}